@font-face {
    font-family: 'roboto';
    src: url('roboto.ttf') format('truetype');
    font-weight: 1000;
    font-style: normal;
  }

.hello {
    color: red;
    font-family: "roboto", 'sans-serif';
  }

body {
    display: grid;
    justify-items: center;
    background-color: rgb(114, 114, 114);
    color: white;
    font-family: "roboto", 'sans-serif';
}

body.pomo {
    background-color: rgb(252, 67, 67);
}

body.shortbreak {
    background-color: rgb(80, 200, 255);
}

body.longbreak {
    background-color: rgb(80, 80, 255);
}

.header {
    font-size: 2em;
    font-weight: 700;
}

.container {
    display: grid;
    gap: 2vh;
    padding-top: 2vh;
    justify-items: center;
}

.timer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2vh;
    width: 30vw;
    height: 30vh;
    border-radius: 40px;
}

.modes {
    height: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.modes * {
    width: 8em;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
}

.modes *:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.clocks {
    display: grid;
    justify-items: center;
    grid-template-rows: 3fr 1fr;
}

.primaryclock {
    font-size: 8em;
    font-weight: 1000;
    justify-self: center;
    align-self: end;
}

.secondaryclock {
    display: none;
}

body.finished .secondaryclock {
    display: block;
    transition: 2s;
}

.controls {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    gap: 32px;
    height: 4em;
}

.reset {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
    display: none;
}

body.active .reset {
    display:inline;
}

.skip {
    grid-column: 3 / 4 ;
    align-self: center;
    display: none;
}

body.active .skip {
    display: inline;
}

.toggle {
    grid-column: 2 / 3;
    background-color: lightgray;
    border-radius: 10px;
    color: grey;
    justify-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}